/* body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 850px;
    background-position-x: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

body{
    background-color: #e8e2e2;
}
    
.container {
    position: relative;
    margin:auto;
    width: fit-content
}



h1 {
    color: #333;
}

canvas {
    height: 443px;
    position: absolute;
    top: 167px;
    left: 300px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 1px;
}

button:hover {
    background-color: #555;
}

p {
    font-size: 20px;
    color: rgb(200, 71, 92);
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
    /* margin-top: -200px;
    margin-left: -200px; */
}

#text {
    font-size: 20px;
    color: rgb(200, 71, 92);
    font-weight: bolder;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}
/* :disabled {
background-color: #999;
cursor: not-allowed;
} */
button{
    background-color: pink;
    position:absolute;
    top: 83.5%;
    left:50.5%;
    transform: translate(-50%,-50%);
}

#text {
    position: absolute;
    top: 170px;
    left: 320px;
    /* font-size: 24px; */
    /* color: red;
    font-weight: bold; */
}
